header{
	background-color:#d21034;
}
h1{
	background-color:#333333;
	color:white;
	text-align:center;
	font-size:28px;
}
.container{
	width:1024px
	margin:0 auto;
}
#main-bio{
	float:left;
}
#contact-info{
	float:left;
}
#bio-image{
	float:left;
}
section{
	padding:10px;
	float:left;
	margin:20px;
}
p{
	float:right;
	margin:20px;
}